<div class="navigation">
    <ul>
        <%if (menu.length > 0) {
            menu.forEach(function (item) { %>
                <li class="<%= item.active%>"><a id="<%=(item.id === undefined ? '' : item.id)%>" href="<%=item.link%>" class="button rectangular">
                        <i class="fa <%=item.type%>"></i>
                        <span><%=item.name%><span class="newReq"><%= ((item.new_req) ? item.new_req : '')%></span></span>
                    </a>
                </li>
            <% });
        }%>
    </ul>
</div>
<script>
    $(document).ready(function() {
        $('#exit').click(function() {
            $.post('/auth/logout', function() {
                document.location.href = '/auth/login';
            });
        });
    });
</script>