<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/global.css"/>
    <title><%=title%></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
</html>
<html lang="en">