<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title.main%></title>
</head>
<body>
    <div class="title">
        <%= title.subtitle%>
    </div>
    <div id="memory">0</div>
    <script>
        var socket = new WebSocket('ws://localhost:3000/memory');

        socket.onopen = function() {
            alert("Соединение установлено.");
        };

        socket.onclose = function(event) {
            if (event.wasClean) {
                alert('Соединение закрыто чисто');
            } else {
                alert('Обрыв соединения'); // например, "убит" процесс сервера
            }
            alert('Код: ' + event.code + ' причина: ' + event.reason);
        };

        socket.onmessage = function(event) {
            console.log("Получены данные " + event.data);
            var data = JSON.parse(event.data);
            var memory = document.getElementById('memory');
            memory.innerHTML = data.heapUsed;
        };

        socket.onerror = function(error) {
            alert("Ошибка " + error.message);
        };
    </script>
</body>
</html>