<%include ./blocks/top.ejs%>

<body class="ui">
<form action="/auth/auth" method="post">
    <div class="pattern-cell login">
        <div>
            <div class="substrate">
                <div class="textbox">
                    <input name="name" type="text" placeholder="Name"/>
                </div>
                <div class="textbox icon"><i class="fa fa-user"></i>
                    <input name="login" type="text" placeholder="Login"/>
                </div>
                <div class="textbox icon"><i class="fa fa-lock"></i>
                    <input name="pass" type="password" placeholder="Password"/>
                </div>
                <button class="rectangular green"><i class="fa fa-sign-in"></i><span>Log In</span></button>
            </div>
        </div>
    </div>
</form>
</body>

<%include ./blocks/footer.ejs%>