<%include ./blocks/top.ejs%>

Добро пожаловать в чат: <%= user.get('username')%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<ul id="chat"></ul>
<div class="pure-form">

    <fieldset class="pure-group">
        <input id="msg" type="text" class="pure-input-1-2" placeholder="A title">
    </fieldset>

    <button id="send" type="submit" class="pure-button pure-input-1-2 pure-button-primary">Send</button>
</div>
<script>
    let socket = io();

    $('#send').click(function () {
        let text = $('#msg').val();
        $('#msg').val('');

        if (!text) {
            alert('empty message');
            return false;
        }

        socket.emit('message', text, data => {
            $('#chat').append('<li>' + text + '</li>');
        });
    });

    socket.on('done_message', data => {
        $('#chat').append('<li>' + data + '</li>');
    });
</script>

<%include ./blocks/footer.ejs%>