<%include ./blocks/top.ejs%>

<%include ./blocks/header.ejs%>

<body class="ui">
    <div class="page-wrapper">
    <div class="page">
        <div class="grid-container">
            <div class="grid-column col-50">
                <div class="substrate">
                    <h1>Inbox</h1>
                    <div id="inbox" class="list-of-users">
                        <ul>
                            <% usersNew.forEach(user => {%>
                                <li><a href="/profile/<%= user._id%>"><span><%= user.name%></span></a>
                                    <div class="control">
                                        <input type="hidden" name="id" value="<%= user._id%>">
                                        <button class="clear addFriend"><i class="fa fa-check"></i></button>
                                        <button class="clear removeRequest"><i class="fa fa-times"></i></button>
                                    </div>
                                </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-column col-50">
                <div class="substrate">
                    <h1>Outbox</h1>
                    <div id="outbox" class="list-of-users">
                        <ul>
                            <% usersOut.forEach(user => {%>
                            <li><a href="/profile/<%= user._id%>"><span><%= user.name%></span></a>
                                <div class="control">
                                    <input type="hidden" name="id" value="<%= user._id%>">
                                    <button class="clear removeRequest"><i class="fa fa-times"></i></button>
                                </div>
                            </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-column">
                <div class="substrate">
                    <h1>My Friends</h1>
                    <div id="friends" class="list-of-users">
                        <ul>
                            <% friends.forEach(user => {%>
                            <li><a href="/profile/<%=user._id%>"><span><%= user.name%></span></a>
                                <div class="control">
                                    <input type="hidden" name="id" value="<%= user._id%>">
                                    <button class="clear removeFriend"><i class="fa fa-times"></i><span>Remove from friends</span></button>
                                </div>
                            </li>
                            <%});%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {
        clickButton('.addFriend', '/friend/add', moveFriend);

        clickButton('.removeRequest', '/friend/delete-request', deleteFriend);

        clickButton('.removeFriend', '/friend/delete-friend', deleteFriend);
    });

    function clickButton(el, url, callback) {

        $('body').on('click', el, function () {
            let el = $(this).parent();

            let id = el.find('input[name="id"]').val();

            if (!id) return false;

            $.ajax({
                url: url,
                method: 'POST',
                data: JSON.stringify({'id_friend' : id}),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    if (data.ok == 1) {

                        callback(el, id);
                    }
                },
                error: function(){
                    alert('There was an error loading the data.');
                }
            });
        });
    }

    function moveFriend(el, id) {
        let element = el.parent();

        let name = element.find('a span').text();

        let html = '<li>' +
                '<a href="/profile/'+ id +'"><span>' + name + '</span></a>' +
                '<div class="control">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '<button class="clear"><i class="fa fa-times"></i><span>Remove from friends</span></button>' +
                '</div>';
            '</li>';

        $('#friends ul').append(html).fadeIn('slow');
        element.fadeOut('slow');
        element.remove();
    }

    function deleteFriend(el, id) {
        let element = el.parent();
        element.fadeOut('slow');
        element.remove();
    }
</script>
</body>
<%include ./blocks/footer.ejs%>