<%include ./blocks/top.ejs%>

<%include ./blocks/header.ejs%>

<body class="ui">
    <div class="page-wrapper">
        <div class="page">
            <div class="grid-container">
                <div class="grid-column col-60">
                    <div class="substrate">
                        <h1><%=users.name%></h1>
                        <p>Username: <%=users.username%></p>
                        <p>Date of registration: <%=users.created%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%include ./blocks/footer.ejs%>