<%include ./blocks/top.ejs%>

<%include ./blocks/header.ejs%>

<body class="ui">
    <div class="page-wrapper">
    <div class="page">
        <div class="grid-container">
            <div class="grid-column col-60">
                <div class="substrate">
                    <div class="textbox icon"><i class="fa fa-search"></i>
                        <input id="search" type="text" placeholder="Enter your user name ..."/>
                    </div>
                    <div class="list-of-users">
                        <ul>
                            <li><a href="/"><span>Vladimir Zhirinovsky</span></a>
                                <div class="control">
                                    <button class="clear"><i class="fa fa-times"></i></button>
                                </div>
                            </li>
                            <li><a href="/"><span>James Bond</span></a>
                                <div class="control">
                                    <button class="clear"><i class="fa fa-plus"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        let username = '<%=user.get('username')%>';
        $('#search').change(function () {
            let searchText = $(this).val();
            if (searchText === '') return false;

            $.ajax({
                url: '/search/name',
                method: 'POST',
                data: JSON.stringify({'search_text' : searchText}),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data){

                    $('.list-of-users ul').empty();

                    let html = '';

                    for (let item in data) {
                        html += '<li><a href="/profile/' + data[item]._id + '">' +
                                '<span>' + data[item].name + (data[item].username === username ? ' (me)' : '') + '</span></a>' +
                                '<div class="control">' +
                                '<input type="hidden" name="id" value="' + data[item]._id + '">' +
                                (data[item].username === username ? '' : '<button class="clear"><i class="fa fa-plus"></i></button>') +
                                '</div>' +
                                '</li>';
                    }
                    $('.list-of-users ul').append(html);
                },
                error: function(){
                    alert('There was an error loading the data.');
                }
            });
        });

        $('body').on('click', '.list-of-users button', function () {
            let el = $(this).parent().parent();

            let id = el.find('input[name="id"]').val();

            if (!id) return false;

            $.ajax({
                url: '/request/add',
                method: 'POST',
                data: JSON.stringify({'id_friend' : id}),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    alert(data.message);
                },
                error: function(){
                    alert('There was an error loading the data.');
                }
            });
        });
    });
</script>
<%include ./blocks/footer.ejs%>